body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* my custom colors */
.bg-1 {
  background-color:  #484a47ff;
}
.bg-2 {
  background-color:  #5c6d70ff;
}
.bg-3{
  background-color:  #b8e0d2ff;
}
.bg-4{
  background-color:  #d6eadfff;
}
.bg-5{
  background-color:  #bea8a7ff;
}
.bg-6{
background-color: #d9d9d9;
}
.text-1{
  color: #fce138;
}
/* end custom colors */

/* hero/header bg image */
.only-best {
  background-image: url("./assets/imgs/bg1.jpg");
  height: 200px;
  background-position-x: 60%;
  background-position-y: 40%;
  color: white;
  text-align: right;
  margin: 0;
}
/* avatar image */
.avatart {
  height: 180px;
  /* width: 200px; */
}



/* for hardcode porfolio test */
.main-sect {
  display: flex;
  background-color: #686868;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.work {
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 50px;
  text-align: center;
  color: #fce138;
}
.work-thumbs {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

.img-run-buddy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.img-run-buddy img {
  align-items: center;
  object-fit: cover;
  height: 686px;
  width: 1242px;
  border: 3px solid #fce138;
  /* filter: url(filters.svg#grayscale); */
  filter: url(/src/assets/filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.img-run-buddy img:hover {
  filter: none;
  -webkit-filter: none;
}
.overlay1 {
  position: absolute;
  bottom: 7px;
  left: 0px;
  background-color: #fce138;
  color: teal;
  font-size: 35px;
  font-weight: bold;
}
.overlay2 {
  position: absolute;
  top: 16px;
  left: 8px;
  background-color: #fce138;
  color: teal;
  font-size: 25px;
  font-weight: bold;
}
.img-list {
  position: relative
}
.img-list img {
  align-items: center;
  object-fit: cover;
  height: 473px;
  width: 613px;
  margin: 5px;
  border: 3px solid #fce138;
  filter: url(/src/assets/filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.img-list img:hover {
  filter: none;
  -webkit-filter: none;
}

/* .customclass1 {
  max-width: 1000px;
} */

