body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.work {
  width: auto;
  padding: 10px;
  margin: 5px;
  font-size: 50px;
  text-align: center;
  color: #fce138;
}

/* my custom colors */
.bg-1 {
  background-color:  #484a47ff;
}
.bg-2 {
  background-color:  #5c6d70ff;
}
.bg-3{
  background-color:  #b8e0d2ff;
}
.bg-4{
  background-color:  #d6eadfff;
}
.bg-5{
  background-color:  #bea8a7ff;
}
.bg-6{
background-color: #d9d9d9;
}
.text-1{
  color: #fce138;
}
/* end custom colors */

/* hero/header bg image */
.only-best {
  background-image: url("./assets/imgs/bg1.jpg");
  height: 200px;
  background-position-x: 60%;
  background-position-y: 40%;
  color: white;
  text-align: right;
  margin: 0;
}
/* avatar image */
.avatart {
  height: 180px;
}
/* for proj imgs */
.img-list {
  align-items: center;
  object-fit: cover;
  height: 300px;
  border: 3px solid #d9d9d9;
}

/* hover effct on portfolio imgs on larger (desktops) browsers */
@media only screen and (min-width: 992px) {
  .img-list {
    border: 3px solid #fce138;
    filter: url(./assets/filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
  }
  .img-list:hover {
    filter: none;
    -webkit-filter: none;
  }
}

